Repository djrasmusp/init-stack: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,js,jsx,json,css,md}"
      run: pnpm oxfmt {files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm oxlint {files}
      stage_fixed: true
    typecheck:
      run: pnpm typecheck

pre-push:
  commands:
    build:
      run: pnpm build

post-checkout:
  commands:
    test:
      run: |
        echo "TYPE=$LEFTHOOK_CHECKOUT_TYPE"
        echo "OLD=$LEFTHOOK_OLD_REF"
        echo "NEW=$LEFTHOOK_NEW_REF"
    pull-main:
      run: |
        if [ "$LEFTHOOK_CHECKOUT_TYPE" = "1" ] && [ "$(git branch --show-current)" = "main" ]; then
          echo "On main branch â€“ pulling latest changes"
          git pull --ff-only
        fi

testing post-checkout
  lefthook.yml
Due: none

debug
  lefthook.yml
Due: none

fix post-checkout
  lefthook.yml
Due: none

feat: add audit
  lefthook.yml
Due: none

feat: add conventaional commits
  commitlint.config.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: format, lint

feat: add conventaional commits
  lefthook.yml
Due: none

docs: update README with Tailwind CSS, Lefthook, and path aliases
  README.md
Due: format

chore: removed unused rules
  .oxlintrc.json
Due: format

chore: add author to package.json
  package.json
Due: format

feat: add Docker support with Brotli compression
  .dockerignore
  Dockerfile
  README.md
  nginx.conf
  package.json
Due: format

chore: update package.json
  .oxfmtrc.json
  package.json
  pnpm-lock.yaml
Due: format

chore: set node minimum
  .nvmrc
  package.json
Due: format

feat: add text-box utility
  src/App.tsx
  src/assets/css/main.css
Due: format, lint

chore: update package.json
  package.json
  pnpm-lock.yaml
  src/App.tsx
  vite.config.ts
Due: format, lint

chore: update package.json
  package.json
  pnpm-lock.yaml
Due: format

fix: set compiler paths
  tsconfig.app.json
  tsconfig.json
Due: format
